{% extends '::admin-lte.html.twig' %}
{% block body %}
    <section class="content-header">
        <h1>
            <i class="fa fa-home"></i> {{ 'slice.home.pageTitle' | trans }}
            <small>{{ 'slice.home.controlPanel' | trans }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <button class="btn btn-xs btn-warning btn-log">Log structure</button>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-6">

                {% for key, value in data %}
                    <div class="box">
                        <div class="box-header">
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            <div class="box-title">
                                <h3 class="no-margin"><i class="fa fa-object-group"></i> {{ key }}</h3>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class=" col-lg-12">

                                <div class="row"><h4 class="no-margin">Attributes</h4></div>
                                <div class="row margin-bottom ">
                                    {% for attr in value['attributes'] %}
                                        <button style="margin: 2px;" class=" btn btn-xs btn-primary ruby-entity"
                                                data-entity="{{ key }}" data-attribute="{{ attr }}">{{ attr }}</button>
                                    {% endfor %}
                                </div>
                                <div class="row"><h4 class="no-margin">Associations</h4></div>
                                <div class="row ">
                                    {% for aKey, aValue in value.associations %}
                                        <button style="margin: 2px;" class=" btn btn-xs btn-warning ruby-entity"
                                                data-entity="{{ key }}"
                                                data-association="{{ aKey }}">{{ aKey }}</button>
                                    {% endfor %}
                                </div>
                                {{ dump(value.associations) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="col-lg-6">
                <div class="box">
                    <div class="box-header">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool ruby-execute"><i class="fa fa-play"></i> Executar</button>
                        </div>
                        <div class="box-title">
                            <h4><i class="fa fa-gears"></i> Rules </h4>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="rules">

                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        <i class="fa fa-code"></i>
                        <strong>Structure</strong>
                    </div>
                    <div class="box-body">
                        <div id="code-structure">

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </section>
    <div id="form-templates" style="display: none;">
        <div id="attribute-form" class="attribute-form" data-entity="" data-association="">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>#}
                    </div>
                    <div class="box-title">
                        <h4 class="no-margin ruby-block-header-title"></h4>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row margin-bottom">
                        <div class="col-lg-4">
                            <select class="form-control ruby-attribute-type">
                                <option value="val">Value</option>
                                <option value="count">Count</option>
                                <option value="min">Min</option>
                                <option value="max">Max</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control ruby-attribute-condition">
                                <option value="e">Equal</option>
                                <option value="like">Like</option>
                                <option value="gt">Greater then</option>
                                <option value="gte">Great or Equal then</option>
                                <option value="lt">Less then</option>
                                <option value="lte">Less or Equal then</option>
                            </select>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-lg-6">
                            <input class="form-control ruby-template-input-text"/>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-lg-12">
                            <button class="btn btn-sm btn-success ruby-add-rules">Define</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#management-home").addClass('active');
    </script>
    <script>

        var objMapper = {};
        var dataObj = {
            structure: {},
            handleAttribute: function (entity, attribute) {
                this.initKey(entity);
                if (typeof this.structure[entity].attributes[attribute] == 'undefined') {
                    this.structure[entity].attributes[attribute] = {rules:[]};
                    return true;
                } else {
                    delete this.structure[entity].attributes[attribute];

                    if (Object.keys(this.structure[entity].attributes).length === 0) {
                        delete this.structure[entity];
                    }
                    return false;
                }
            },
            handleAttributeRule : function(entity, attribute, type, condition, value) {
                if (typeof this.structure[entity].attributes[attribute] != 'undefined') {
                    delete this.structure[entity].attributes[attribute];
                    this.structure[entity].attributes[attribute] = {rules:[]};
                }

                this.structure[entity].attributes[attribute]['rules'].push({
                    'type' : type,
                    'condition' : condition,
                    'value': value
                });
            },
            handleAssociation: function (key, value) {
                this.initKey(key);
                var index = this.structure[key].associations.indexOf(value);
                if (index == -1) {
                    this.structure[key].associations.push(value);
                } else {
                    this.structure[key].associations.splice(index, 1)
                }
            },
            initKey: function (key) {
                if (typeof this.structure[key] == 'undefined') {
                    this.structure[key] = {
                        attributes: {},
                        associations: {}
                    };
                }
            },

            getStructure: function () {
                return this.structure;
            }
        };
        $(document).ready(function () {
            $(".ruby-entity").click(function (e) {
                var key = $(this).data('entity');
                var attr = $(this).data('attribute');
                var assoc = $(this).data('association');

                if (typeof attr != 'undefined') {
                     if (dataObj.handleAttribute(key, attr)) {
                        $("#rules").append(getAttributeForm(key, attr));
                     } else {
                         removeAttributeForm(key, attr);
                     }
                }
                if (typeof  assoc != 'undefined') {
                    dataObj.handleAssociation(key, assoc);
                }
                //item exists?
                $("#code-structure").html(JSON.stringify(dataObj.getStructure()));

            });

            $(".btn-log").click(function () {
                $("#code-structure").html(JSON.stringify(dataObj.getStructure()));
                console.log(dataObj.getStructure());
            });

            $(document).on('click', '.ruby-add-rules', function(){
                //add rule to structure
                var guid = $(this).data('ruby-guid');
                var entity = objMapper[guid].entity;
                var attribute = objMapper[guid].attribute;
                var form = $('#'+ guid);
                var type = form.find('.ruby-attribute-type').val();
                var condition = form.find('.ruby-attribute-condition').val();

                var value = form.find('.ruby-template-input-text').val();
                dataObj.handleAttributeRule(entity, attribute, type, condition, value  );
                $("#code-structure").html(JSON.stringify(dataObj.getStructure()));
            });

            $(".ruby-execute").click(function(){
                window.location ="{{ path('ruby_process') }}/" + encodeURIComponent(JSON.stringify(dataObj.getStructure())) ;
            });
        });

        function getAttributeForm(key, value) {

            var form = $("#attribute-form").clone();
            var guid = newGuid();

            form.attr('id', guid);
            form.find('.ruby-block-header-title').html(key + ' - ' + value);
            form.find('.ruby-add-rules').attr('data-ruby-guid', guid);

            objMapper[guid] = {
                entity : key,
                attribute: value
            };

            return form;
        }
        function removeAttributeForm(entity, attribute)
        {
            for (var key in objMapper) {
                if (objMapper[key].entity == entity && objMapper[key].attribute == attribute) {
                    var elem = $("#"+key);
                    if (typeof elem != 'undefined') {
                        $(elem).remove();
                    }
                }

            }
        }

        function newGuid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                        .toString(16)
                        .substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                    s4() + '-' + s4() + s4() + s4();
        }

    </script>
{% endblock %}