<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
<style>
    .clickable{
        cursor: pointer;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <section class="content-header">

        <h1>
            <i class="fa fa-home"></i> DRuby
            <small>Data Validation</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <button class="btn btn-xs btn-warning btn-log">Log structure</button>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-6">
                <div id="ruby-panel">

                </div>

            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="box-tools pull-right">
                            <button id="ruby-execute" type="button" class="btn btn-box-tool "><i class="fa fa-play"></i> Executar</button>
                        </div>
                        <div class="box-title">
                            <h4><i class="fa fa-gears"></i> Rules </h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="rules">

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-code"></i>
                        <strong>Structure</strong>
                    </div>
                    <div class="panel-body">
                        <div id="code-structure">

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </section>
    <div id="form-templates" style="display: none;">
        <div id="ruby-entity-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    <div class="panel-title">
                        <h3 class="no-margin"><i class="fa fa-object-group"></i> <span id="ruby-entity-name"></span></h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class=" col-lg-12">

                        <div class="row"><h4 class="no-margin">Attributes</h4></div>
                        <div id="ruby-attribute-buttons" class="row margin-bottom">
                        </div>
                        <div class="row"><h4 class="no-margin">Associations</h4></div>
                        <div id="ruby-association-buttons" class="row">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="rule-box" class="rule-box" data-entity="">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4 class="no-margin ruby-rule-entity-title"></h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row margin-bottom">
                        <div class="col-lg-12">
                            <h5 class="text-bold">Attributes</h5>
                        </div>
                    </div>
                    <div id="ruby-rule-entity-attributes">

                    </div>
                    <div class="row margin-bottom">
                        <div class="col-lg-12">
                            <h5 class="text-bold">Associations</h5>

                        </div>
                    </div>
                    <div id="ruby-rule-entity-associations">

                    </div>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
        <button id="ruby-btn-attribute" style="margin: 2px;" class="btn btn-xs btn-primary "></button>
        <button id="ruby-btn-association" style="margin: 2px;" class=" btn btn-xs btn-warning ruby-entity "></button>
        <div id="ruby-rule-attribute" class="rule-attribute">
            <div class="row margin-bottom">
                <div class="col-lg-2">
                    <select class="form-control ruby-select-segment">
                        <option value="">NONE</option>
                        <option value="AND">AND</option>
                        <option value="OR">OR</option>
                    </select>
                </div>
                <div id="ruby-rule-attribute-name" class="col-lg-2 ">Nome do Attr</div>
                <div class="col-lg-2">
                    <select id="ruby-rule-attribute-condition" placeholder="condition" class=" form-control">
                        <option>--</option>
                        <option value="isNull">Is Null</option>
                        <option value="isNotNull">Is Not Null</option>
                        <option value="isEmpty">Is Empty</option>
                        <option value="isNotEmpty">Is Not Empty</option>
                        <option value="isNotEmpty">Is Not Empty</option>
                        <option value="countEquals">Count Equals</option>
                        <option value="countGreater">Count Greater</option>
                        <option value="countLess">Count Less</option>
                        <option value="min">Minimum</option>
                        <option value="max">Maximum</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <input id="ruby-rule-attribute-value" placeholder="VALUE" class="form-control"/>
                </div>
            </div>
        </div>
        <div id="ruby-rule-association" class="rule-association"></div>
        <div id="ruby-rule-association-attributes" class="rule-association-attributes">
            <div class="box">
                        <div class="box-header">
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>#}
                            </div>
                            <div class="box-title">
                                <h5 class="no-margin ruby-rule-association-title"></h5>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row margin-bottom">
                            <div class="col-lg-12">
                                 <div class="row ">
                                    <div  id="ruby-attribute-buttons"  class="col-lg-12">

                                    </div>
                                </div>
                            </div>

                            </div>
                            <div class="row margin-bottom">
                                <div class="col-lg-12">
                                    <h5 class="text-bold">Attributes</h5>
                                </div>
                            </div>
                            <div id="ruby-rule-entity-attributes">

                            </div>
                        </div>
            </div>
        </div>
         <div id="ruby-rule-association-attribute" class="rule-association-attribute">
            <div class="row margin-bottom">
                <div class="col-lg-2">
                    <select class="form-control">
                        <option value="">NONE</option>
                        <option value="AND">AND</option>
                        <option value="OR">OR</option>
                    </select>
                </div>
                <div id="ruby-rule-attribute-name" class="col-lg-2 ">Nome do Attr</div>
                <div class="col-lg-2">
                    <input id="ruby-rule-attribute-condition" placeholder="condition" class=" form-control"/>
                </div>
                <div class="col-lg-4">
                    <input id="ruby-rule-attribute-value" placeholder="VALUE" class="form-control"/>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $("#management-home").addClass('active');
        var entityStructure = {{ data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
        var entityRepo = {
            ruleStructure: {},
            uidMap: [],
            structure : [],
            initStructure : function (jsonStruct) {
                //build entity objects
                for (sEntity in jsonStruct) {
                    if (jsonStruct.hasOwnProperty(sEntity)){
                        var entity = {
                            uid : newGuid(),
                            entity : sEntity,
                            attributes : jsonStruct[sEntity]['attributes'],
                            associations: []
                        };
                        this.structure[entity.uid] = entity;
                        this.uidMap[entity.entity] = entity.uid;
                    }
                }

                //build associations
                for (sEntity in jsonStruct) {
                    if (jsonStruct.hasOwnProperty(sEntity)){
                        var sourceEntity = this.structure[this.uidMap[sEntity]];
                        for (assoc in jsonStruct[sEntity]['associations']) {
                            var assocObj = jsonStruct[sEntity]['associations'][assoc];
                            sourceEntity.associations[assoc] = {
                                targetEntity : entityRepo.structure[entityRepo.uidMap[assocObj['targetEntity']]],
                                mappedBy :  assocObj['mappedBy'],
                                inversedBy :  assocObj['inversedBy'],
                                type :  assocObj['type']
                            };
                        }
                    }
                }
            },
            getEntityByUid : function(uid) {
                return this.structure[uid];
            }
        };

        function newGuid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                        .toString(16)
                        .substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                    s4() + '-' + s4() + s4() + s4();
        }
    </script>
    <script>
        $(document).ready(function(){

            $(document).on("click",'.clickable', function (e) {

                if ($(this).hasClass('panel-collapsed')) {
                    // expand the panel
                    $(this).parents('.panel').find('.panel-body').slideDown();
                    $(this).removeClass('panel-collapsed');
                    $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                }
                else {
                    // collapse the panel
                    $(this).parents('.panel').find('.panel-body').slideUp();
                    $(this).addClass('panel-collapsed');
                    $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                }
            });

            $("#ruby-execute").click(function(){
            buildStructure();
                window.location ="{{ path('ruby_process') }}/" + encodeURIComponent(JSON.stringify(entityRepo.ruleStructure)) ;
            });

            $(".btn-log").click(function(){
                buildStructure();
                $("#code-structure").text(JSON.stringify(entityRepo.ruleStructure));
            });
            entityRepo.initStructure(entityStructure);
            initUI();

            //ui interactions
            $(document).on('click', '.ruby-entity' ,function(){

                if ($(this).data('attribute')) {
                    handleAttributeRule($(this).data('entity'), $(this).data('attribute'), $("#rules"), $("#ruby-rule-attribute"))
                }
                if ($(this).data('association')) {
                    handleAssociation($(this).data('entity'), $(this).data('association'),  $(this).data('target-entity') )
                }

            });


            $(document).on('click', '.ruby-association-attribute', function(){
                var associationBoxElem = $(this).closest('.rule-association-attributes');
                var attributesElem = associationBoxElem.find('#ruby-rule-entity-attributes');
                handleAssociationAttribute($(this).data('entity'), $(this).data('attribute'), associationBoxElem.attr('id'), attributesElem);
            });
        });
    </script>

    <script>
        function initUI()
        {
            for (entity in entityRepo.structure) {
                if (entityRepo.structure.hasOwnProperty(entity)) {
                    var entityObj = entityRepo.structure[entity];
                    var panel = $("#ruby-entity-panel").clone();
                    panel.attr('id', entityObj.uid);
                    panel.find("#ruby-entity-name").html(entityObj.entity);

                    //create attributte buttons
                    var attributes = panel.find("#ruby-attribute-buttons");
                    createAttributeButtons(attributes, entityObj, 'ruby-entity');

                    //create association buttons
                    var associations = panel.find("#ruby-association-buttons");

                    for (assoc in entityObj.associations) {
                        if (entityObj.associations.hasOwnProperty(assoc)) {
                            var btn = $("#ruby-btn-association").clone();
                            btn.attr('id', entityObj.uid+'-'+assoc);
                            btn.attr('data-entity', entityObj.uid);
                            btn.attr('data-association', assoc);
                            btn.attr('data-target-entity', entityRepo.uidMap[entityObj.associations[assoc].targetEntity.entity]);
                            btn.text(assoc);
                            associations.append(btn);
                        }
                    }
                    $("#ruby-panel").append(panel);
                }
            }
        }
        function initRuleBox(elem, uid) {
            var rulesElem = elem;
            if(rulesElem.find("#" + uid).length == 0) {
                var ruleBoxElem = $("#rule-box").clone();
                ruleBoxElem.attr('id', '' + uid);
                ruleBoxElem.data('entity', uid);
                ruleBoxElem.find(".ruby-rule-entity-title").html(entityRepo.getEntityByUid(uid).entity);
                rulesElem.append(ruleBoxElem);
                return ruleBoxElem;
            } else {
                return rulesElem.find("#" + uid);
            }
        }
        function handleAttributeRule(uid, attribute, ruleContainer, attributesTemplate) {
            //are there any rule box created already?

            ruleBoxElem = initRuleBox(ruleContainer, uid);

            if (ruleBoxElem.find("#ruby-rule-entity-attributes").find("#"+attribute).length == 0) {
                var attributeRowElem = attributesTemplate.clone();
                attributeRowElem.attr('id', attribute);
                attributeRowElem.find("#ruby-rule-attribute-name").html(attribute);
                ruleBoxElem.find("#ruby-rule-entity-attributes").append(attributeRowElem);
            }
        }
        function handleAssociation(uid, association, targetEntityUid) {
            var ruleBoxElem = initRuleBox($("#rules"), uid);
            var associationBoxElem = ruleBoxElem.find("#ruby-rule-entity-associations");
            if (associationBoxElem.find("#" + association).length == 0) {
                var associationAttributes = $("#ruby-rule-association-attributes").clone();
                associationAttributes.attr('id', association);
                associationAttributes.attr('data-target-entity', targetEntityUid );
                associationAttributes.find(".ruby-rule-association-title").html(association);


                createAttributeButtons(
                    associationAttributes.find("#ruby-attribute-buttons"),
                    entityRepo.getEntityByUid(uid).associations[association].targetEntity,
                    'ruby-association-attribute'
                );

                associationBoxElem.append(associationAttributes);
            }
        }
        function handleAssociationAttribute(uid, attribute, associationName, elem) {
        var attributeForm = $("#ruby-rule-attribute").clone();
        attributeForm.attr('id', newGuid()); //@to do: create better IDs for this
        attributeForm.find("#ruby-rule-attribute-name").html(attribute);
        elem.append(attributeForm);

    }

        function createAttributeButtons(containerElem, entityObj, clickHandler) {
        for (attr in entityObj.attributes) {
            if (entityObj.attributes.hasOwnProperty(attr)) {
                var btn = $("#ruby-btn-attribute").clone();
                btn.attr('id', entityObj.uid+'-'+entityObj.attributes[attr]);
                btn.attr('data-entity', entityObj.uid );
                btn.attr('data-attribute', entityObj.attributes[attr] );
                btn.addClass(clickHandler);
                btn.text(entityObj.attributes[attr]);
                containerElem.append(btn);

            }
        }
    }
    function buildStructure() {
        $("#rules").find('.rule-box').each(function(ind, ruleBox){
            var boxElem = $(ruleBox);

            var sourceEntity = entityRepo.getEntityByUid(boxElem.attr('id'));
            entityRepo.ruleStructure[sourceEntity.entity] = {
                attributes : {},
                associations: {}
            };

            //get attributes
            boxElem.find('#ruby-rule-entity-attributes').find('.rule-attribute').each(function(ind, attrElem) {
                var segment = $(attrElem).find('.ruby-select-segment').val();
                var condition = $(attrElem).find('#ruby-rule-attribute-condition').val();
                var value = $(attrElem).find('#ruby-rule-attribute-value').val();

                entityRepo.ruleStructure[sourceEntity.entity].attributes[$(attrElem).attr('id')] = {
                    "segment" : segment,
                    "condition" : condition,
                    "value" : value
                }

            });

            //get associations
            boxElem.find('#ruby-rule-entity-associations').find('.rule-association-attributes').each(function(ind, attrElem) {
                var associationName = $(attrElem).attr('id');
                var targetEntityUid = $(attrElem).attr('data-target-entity');
                var targetEntity = entityRepo.getEntityByUid(targetEntityUid);
                entityRepo.ruleStructure[sourceEntity.entity].associations[targetEntity.entity] = [];

                $(attrElem).find(".rule-attribute").each(function(ind, ruleElem) {
                    var segment = $(ruleElem).find('.ruby-select-segment').val();
                    var field = $(ruleElem).find("#ruby-rule-attribute-name").text();
                    var condition = $(ruleElem).find('#ruby-rule-attribute-condition').val();
                    var value = $(ruleElem).find('#ruby-rule-attribute-value').val();
                    entityRepo.ruleStructure[sourceEntity.entity].associations[targetEntity.entity].push(
                    {
                        "associationName" : associationName,
                        "field" : field,
                        "segment" : segment,
                        "condition" : condition,
                        "value" : value
                    });
                });

            });

        });

    }

    </script>
